%form{action: "/create_url", method: "post"}
  %input{type: "text", name: "originalUrl"}
  %input{type: "submit", value: "Fuel it!"}


- unless @visit_count_urls.empty?
  %table.urls
    %thead
      %tr
        %th{colspan:3}
          Most Visited URLs
      %tr
        %th{scope:"col"}
          Original Url
        %th{scope:"col"}
          Shortened Url
        %th{scope:"col"}
          Number of Visits
    %tbody
    - @visit_count_urls.each do |url|
      %tr
        %td= url.original
        %td= url.short
        %td= url.visits
  %table.urls
    %thead
      %tr
        %th{colspan:3}
          URLs By Creation Date
      %tr
        %th{scope:"col"}
          Original Url
        %th{scope:"col"}
          Shortened Url
        %th{scope:"col"}
          Date
    %tbody
    - @visit_count_urls.each do |url|
      %tr
        %td= url.original
        %td= url.short
        %td= url.created_at

- else
  No urls


