HELLO!
- unless @urls_by_visit.empty?
  %table.urls
    %thead
      %tr
        %th{colspan:3}
          Most Visited URLs
      %tr
        %th{scope:"col"}
          Original Url
        %th{scope:"col"}
          Shortened Url
        %th{scope:"col"}
          Number of Visits
    %tbody
    - @urls_by_visit.each do |url|
      %tr
        %td= url.original
        %td= url.short
        %td= url.visits
  %table.urls
    %thead
      %tr
        %th{colspan:3}
          URLs By Creation Date
      %tr
        %th{scope:"col"}
          Original Url
        %th{scope:"col"}
          Shortened Url
        %th{scope:"col"}
          Date
    %tbody
    - @urls_by_date.each do |url|
      %tr
        %td= url.original
        %td= url.short
        %td= url.created_at.strftime("%l:%M%P on %B %d, %Y")

- else
  No urls


