%h2= @user.username

- unless @user.premium_urls.empty?
  %table.urls
    %thead
      %tr
        %th{colspan:3}
          Most Visited URLs
      %tr
        %th{scope:"col"}
          Original Url
        %th{scope:"col"}
          Shortened Url
        %th{scope:"col"}
          Number of Visits
    %tbody
    - @user.premium_urls.each do |url|
      %tr
        %td= url.original
        %td= url.short
        %td= url.visits
- else
  %p You haven't added any urls!

%form{action: "/create_url/#{@user.username}", method: "post"}
  %label{for: "originalUrl"} URL
  %input{type: "text", name: "originalUrl"}
  %br
  %label{for: "vanity"} Vanity
  %input{type: "text", name: "vanity"}
  %br
  %input{type: "submit", value: "Fuel it!"}
